@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Bebas+Neue&family=Lilita+One&family=Rubik+Moonrocks&family=Sacramento&family=Bungee&family=Playwrite+NG+Modern:wght@100..400&family=Space+Grotesk&family=Work+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.reg_image{
  /* place-content: center; */
  /* align-items: center; */
  mask-image: url('./assets/registrationpage/reg_image_transparent.svg');
  -webkit-mask-image: url('./assets/registrationpage/reg_image_transparent.svg');
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat; ;
}

.top_left{
  background: url("./assets/homepage/top_left.jpg");
}
.bottom_left{
  background: url("./assets/homepage/bottom_left.jpg");
}
.top_right{
  background: url("./assets/homepage/top_right.jpg");
}
.bottom_right{
  background: url("./assets/homepage/bottom_right.jpg");
}

.center{
  background: url("./assets/homepage/center.jpg");
}


.top_left, .bottom_left, .top_right, .bottom_right, .center{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about_header{
  -webkit-text-stroke: 1px #091E54;
}

.chaplain::before{
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  border-top: 3px solid red;
  border-left: 3px solid red;
  width: 80px;
  height: 80px;
}

.chaplain::after{
  content: '';
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-bottom: 3px solid orange;
  border-right: 3px solid orange;
  width: 80px;
  height: 80px;
}


nav {
  width: 100%;
  justify-content: space-around;
  padding: 15px;
  transition: 0.6s;
  display: flex;
  background: transparent;
  z-index: 3;
  align-items: center;
  position: fixed;
}
.navLinks {
  display: flex;
}

nav ul li {
  color: #091E54;
  display: inline-block;
}
nav ul li a {
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s all ease-in;
  padding: 10px 15px;
  margin: 5px;
}

.stickyNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fdfdfde7;
  z-index: 20;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  /* place-content: center; */
  align-items: center;
  box-shadow: 0px 0px 2px 1px #fff;
  transition: 0.5s all ease-in-out;
  box-shadow: 0px 0px 10px 0px var(--box-shadow);
  backdrop-filter: blur(6px) saturate(147%);
  -webkit-backdrop-filter: blur(6px) saturate(147%);
}
.stickyNav a {
  color: #091E54;
}
.stickyNav button{
  color: white
}
#miniNav{
  width: 250px;
  background: white
}
/* . ul{
  display: flex;
} */

@media (max-width: 850px) {
  .navLinks {
    position: fixed;
    right: 0%;
    top: 0%;
    place-content: center;
    align-items: center;
    display: none;
    /* border: 1px solid white; */
    flex-direction: column;
    background: linear-gradient(to bottom, #d62828ee, #0f0e3bc2);
    width: 100%;
    height: 100lvh;
    transition: 1s ease-in-out;
    animation: slide 0.7s 1;
    z-index: 4;
  }
  @keyframes slide {
    from {
      right: -90%;
    }
    to {
      right: 0%;
    }
  }
  #icon,
  #iconmultiply {
    display: flex;
  }
  .stickyNav #icon {
    color: black;
  }
  .stickyNav a {
    color: white;
  }
  .mainNav {
    display: grid;
    width: 100%;
    /* border: 3px solid red; */
    gap: 4px;
  }
  .mainNav li {
    display: grid;
    width: 100%;
    color: white;
    border: 1px solid white;
    /* border-radius: 50px; */
    gap: 20px;
    text-align: center;
    position: relative;
    /* overflow: hidden; */
  }
  .miniNav{
    position: relative;
    /* background: red; */
    /* padding: 15px 20px; */
    /* display:  grid; */
    /* background: red; */
    /* height: 10px; */
    /* width: 1200px; */
    top: 0px;
  }
  #miniNav{
    width: 100%;
    top: 0;
  }
  #miniNav li a{
    color: #091E54;
  }
  /* .nav ul li a {
    text-align: center;
  }
    */
  #miniVav li a:hover {
    background: #fff;
    color: #d62828;
  }
}


